* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #071E49;
}

.navigations {
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
}

.nav-links ul li {
    font-size: 27px;
    display: inline-block;
    list-style: none;
    padding: 20px 20px;
}

.nav-links ul li a {
    color: white;
}

#logo img {
    width: 257px;
    padding-top: 50px;
    padding-left: 97px;
    padding-bottom: 46.7px;

}

a:link {
    text-decoration: none;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(6, 135, 240);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.contacts {
    background-color: rgb(12, 108, 233);
    border: 2px solid rgb(12, 108, 233);
    border-radius: 0%;
    padding: 5px 2px;
}

.contacts:hover {
    color: rgb(6, 135, 240);
}

.body {
    background-color: #F4F6FF;
}
.text2{
    width: 947px;
    font-weight: 600;
    font-size: 44px;
}
.text {
    color: #006ED3;
}
#containerheading p {
    color: #006ED3;
}